body { cursor: none; } a { cursor: none; }

body {
    margin: 0;
    background: #000;
    color: white;
}
canvas {
    background: radial-gradient(circle at top right, #58a258 -2%, black 46%);
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*  */
a {
    color: #1E90FF;
    text-decoration: none;
    position: relative;
    transition: transform 0.2s, color 0.2s;
}
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s, background-color 0.2s, border 0.2s, transform 0.05s;
    z-index: 1000;
}
.cursor.hover {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .75);
}
.invert-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 999;
}


/*  */
.hoverable {
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, transparent -25%, black, transparent 125%);
}


main {
    font-family: "Noto Sans Mono", serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    padding-bottom: 2rem;
    background: #0d0d0dbd;
    border-radius: 2rem;
    backdrop-filter: blur(1px);
    box-shadow: #58a25816 0px 14px 28px, #58a2581d 0px 10px 10px;
}

main img {
    border-radius: 50%;
    width: 100px;
    transform: translateY(-50%);
    margin-bottom: -2rem;
}

main p {
    width: 75%;
    text-align: center;
}

@media (max-width: 768px) {
    main {
        width: 90%;

    }
    main p {
        width: 90;
    }
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    padding: .5rem;
    text-align: center;
}

a {
    color: #58a258;
}

a:hover {
    color: #87cb87;
}

h2 {
    margin-bottom: .5rem;
}

ul {
    margin-top: 0rem;
}
